.aboutPage {
    background-color: #292c2d;
    background-image: linear-gradient(147deg, #292c2d 0%, #0d0e0e 37%, #292c2d 100%);
}

.page{
    display: flex;
    align-content: space-between;
    
}
.about{
    display: flex;
    justify-content: space-evenly;
    color: @site-white;
    h2 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #292c2d;
    }
    img{
        height: 40vh;
        margin: 3% 1% 1% 1%;
        padding: 1%;
        width: 30%;
        border: 3px solid @site-red;
        @media @phone{
            width: 80%;
            margin: 0 auto;
        }
        @media @tablet {
            height: 20vh;
            width: 30%;
            margin-top: 50px;
        }
    }
    div{
        .text(@site-white);
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-top: 70px;
        width: 30%;
        @media @phone{
            width: 80%;
            margin: 0 auto;
        }
    }
    @media @phone {
        display: flex;
        flex-direction: column;

    }
    @media @tablet {
        margin-bottom: 3%;
    }  

}




.trust{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    .text(@site-white);
    div{
    color: @site-white;
    width: 60%;
    margin: 0 auto;
    }
    
    h2{
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #292c2d;
    }
}
.save{
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    .text(@site-white);
    h2 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #292c2d;
    }
    @media @tablet{
        display: flex;
        flex-direction: column-reverse;
        
    }

    img{
        width: 30%;
        height: 40vh;
        border: 3px solid @site-red;
        padding: 10px;
        @media @phone{
            width: 80%;
            margin: 0 auto;
        }
        @media @tablet{
            margin: 0 auto;
            width: 50%;
        }

        
    }
    div{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
        width: 30%;
        @media @phone {
            width: 80%;
            margin: 0 auto;
        }
        @media @tablet{
            margin: 0 auto;
            width: 50%;
        }
    }
    @media @phone{
        display: flex;
        flex-direction: column-reverse;
        
    }
}