.page{
    display: flex;
    align-content: space-between;
    
}

.about{
    display: flex;
    justify-content: space-evenly;
    background-color: #292c2d;
    color: #FFF9FB;
    img{
        height: 40vh;
        margin: 10px;
        padding: 10px;
        width: 30%;
        border: 3px solid #550C18;
    }
    div{
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-top: 70px;
        width: 30%;
    }
}



.trust{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    h2{
        text-align: center;
    }
}
.save{
    padding: 1%;
    display: flex;
    justify-content: space-evenly;

    img{
        width: 30%;
        height: 500px;
    }
    div{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
        width: 30%;
    }
}


footer {
    padding: 1%;
    color: white;
    text-align: center;

}