.faqPage {
    background-color: #292c2d;
    background-image: linear-gradient(147deg, #292c2d 0%, #0d0e0e 37%, #292c2d 100%);
}
.faq{
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #292c2d;
  }
  .text(@site-white);
    @media @phone{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 250%;
      font-size: 0.7rem;
  }
  
    div{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        
        
        
    }

}