.home {
    background-color: #292c2d;
    background-image: linear-gradient(147deg, #292c2d 0%, #0d0e0e 37%, #202727 100%);
    header {
        width: 100%;
        padding: 1%;
        display: flex;
        justify-content: column;
        flex-wrap: wrap;
        .homeBlip {
            height: 30vh;
            width: 28%;
            margin: 8% 5% 7% 15%;
        h1 {
            font-size: 3.5rem;
            text-align: center;
            padding: 2%;
            color: @text-color;
        }
        p {
            padding: 3%;
            display: flex;
            color: @text-color;
        }
    }
    .homeImg {
        height: 60vh;
        padding: 1%;
        border: 3px solid @border-red;
        display: flex;

    }
}
}

.body {
    width: 50%;
    display:flex;
    flex-flow: column wrap;
    padding: 3% 0%;
    color: @text-color;
    h2 {
        text-align: center;
        padding: 1%;
    }
}

.pics {
    display: flex;
    margin: 0% 6% 1% 5%;
    border: 1px solid white;
    h3 {
        .text(@text-color);
    }
    p {
        .text(@text-color);
    }
    .picBlockOne {
        margin: 0% 10% 0% 5%;
        display: flex;
        flex-direction: column;
        .cameraImg {
            padding: 2%;
            border: 3px solid @border-red;
        }
    
    }
    .picBlockTwo {
        margin: 0% 5% 0% 10%;
        display: flex;
        flex-direction: column;
        .echoImg {
            padding: 2%;
            border: 3px solid @border-red;
        }
    }
}

.getStarted {
    width: 50%;
    margin: 0% 25%;
    padding: 0% 0% 3% 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h3 {
        .text(@text-color);
    }
    p {
        .text(@text-color);
    }
    .btn {
        margin: 1%; 
        width: 8%;
        align-self: center;
    }
}

footer {
    padding: 1%;
    color: @text-color;
    text-align: center;

}