.home {
    background-color:#1B2021;
    header {
        width: 100%;
        padding: 1%;
        display: flex;
        justify-content: column;
        flex-wrap: wrap;
        .homeBlip {
            height: 30vh;
            width: 25%;
            margin: 7% 5% 7% 15%;
        h1 {
            font-size: 3.5rem;
            text-align: center;
            padding: 2%;
            color:  #575C55;
        }
        p {
            padding: 3%;
            display: flex;
            color:  #575C55;
        }
    }
    .homeImg {
        height: 60vh;
        padding: 1%;
        border: 3px solid #550C18;
        display: flex;

    }
}
}

.body {
    width: 50%;
    display:flex;
    flex-flow: column wrap;
    padding: 3% 0%;
    h2 {
        text-align: center;
        padding: 1%;
    }
}

.pics {

    .picBlockOne {
        margin: 0% 50%;
        display: flex;
        flex-direction: column;
    }
}